@use '../../styles/variables' as *;

.nav {
   padding-top: 30px;
   padding-left: 150px;
   &__list {
      min-height: 40px;
      display: flex;
      justify-content: start;
      align-items: end;
      gap: 0 40px;
      color: #fff;
      position: relative;
   }
   &__list:first-child {
      padding-left: 31px;
      // position: relative;
      // &::before {
      //    content: '';
      //    position: absolute;
      //    width: 35px;
      //    height: 35px;
      //    left: -5px;
      //    top: 0;
      //    background-image: url(/assets/images/logo.svg);
      // }
   }
   &__logo {
      position: absolute;
      width: 35px;
      height: 35px;
      left: -5px;
      top: 0;
      transition: all 0.3s;
      svg {
         fill: #fff;
      }
   }
   &__link {
      color: #fff;
      transition: all 0.3s;
      @extend %Merienda-400;
   }
   &__link:hover {
      color: $hover;
      .nav__logo {
         fill: $hover;
         stroke: $hover;
      }
   }
}
