@use '../../styles/variables' as *;

.header {
   &__wrapper {
      background-image: url(/assets/images/home-banner.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @extend %Merienda-700;
      color: #fff;
   }
   &__inner {
      max-width: 670px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 181px;
      padding-bottom: 201px;
   }
   &__title {
      font-size: 2.5rem;
      padding-bottom: 50px;
      margin-bottom: 35px;
      @extend %decor-white;
   }
   &__text {
      font-size: 1.5rem;
      margin-bottom: 20px;
   }
   &__button {
      font-size: 0.875rem;
      cursor: pointer;
      padding: 0;
      width: 120px;
      height: 30px;
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      outline: none;
      box-shadow: none;
      appearance: none;
      transition: all 0.3s;
      &:hover {
         color: $hover;
         border: 1px solid $hover;
      }
   }
}
