@use '../../styles/variables' as *;

.footer {
   color: #000;
   position: relative;
   &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 52px 0 20px 0;
      nav {
         padding: 0;
      }
      svg {
         stroke: #000;
         transition: all 0.3s;
      }
      a {
         color: #000;
      }
      a:hover {
         svg {
            stroke: $hover;
         }
      }
   }
   &__inner {
      @extend %decor-dark;
   }
}
